__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.vscode/
.idea/
*.log
*.png
*.mp4
*1.json
send_test.py
_msg.json
validation/
*.pem
settings.local.json
*.pdf
test_app/static/plots/
test_app/
dev.estimated_bp_unfiltered_data.json
test_local.pyT

sample_payloads/ls06_sample.json
sample_ref.json
new.json
test_local.py
docs/KAFKA_BACKEND_IMPLEMENTATION.md
test_dashboard_pipeline.py
test_extraction.py
test_processor.py
test.json
ebp_dashboard/app.py
ebp_dashboard/templates/patient.html
ebp_dashboard/templates/roster.html
ebp_dashboard/
