__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.vscode/
.idea/
*.log
*.png
*.mp4
*1.json
send_test.py
_msg.json
validation/
*.pem
settings.local.json
*.pdf
test_app/static/plots/
test_app/
dev.estimated_bp_unfiltered_data.json
